
<%if @search_results.present?%>
<%=form_with(model: @flight, url: new_booking_path, method: :get) do |form|%>

    
    <h3>Search Results</h3>

        <%@search_results.each do |fly|%>
    <ul>
    <li>
    <%num=32-fly.passenger_number%>
    <%no_vac='NO VACANCY FOR YOU IN THIS FLIGHT!'%>
    <%message="Available seats : #{num}"%>
        <%="Flight id: #{fly.id}"%>
        <%=fly.departure_airport.code%>
        <%=fly.arrival_airport.code%>
        <%=fly.date_formatted%>
        <%=num > 0 ? message : no_vac %>

        <%=form.radio_button :flight_id, fly.id%>

        <%end%>

    <%=form.submit "Book Flight"%>
    </li>
    </ul>
<%end%>
<%else%>
<h3><%='Please search a flight!' %></h3>
<%end%>