<h2>Search for a flight!</h2>

<%=form_with(url: flights_path, method: :get) do |f|%>


<h5>Departures: <%=f.select(:departure_id,options_for_select(@departures), selected: params[:departure_id])%></h5>
<h5>Arrivals:  <%=f.select(:arrival_id,options_for_select(@arrivals), selected: params[:arrival_id])%></h5>
<h5>Date:  <%=f.select(:departure_time,options_for_select(@dates), selected: params[:departure_time])%></h5>
<h5>Number of seats:  <%=f.select(:passenger_number,(1..4), selected: params[:passenger_number])%></h5>

<%=f.submit 'Search'%>

<%end%>