<h2>Search for a flight!</h2>

<%=form_with(url: flights_path, method: :get) do |f|%>

<h5>Departures: <%=f.select(:departures,options_for_select(@departures))%></h5>
<h5>Arrivals:  <%=f.select(:arrivals,options_for_select(@arrivals))%></h5>
<h5>Date:  <%=f.select(:dates,options_for_select(@dates))%></h5>
<h5>Number of seats:  <%=f.select(:seats,(1..4), selected: params[:passenger_number])%></h5>

<%=f.submit 'Search'%>

<%end%>